<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-left">
      <a class="navbar-brand" href="#">Contact Directory</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-arrow-up"></span>Top
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- js for make navbar stickey -->

