.modal-body{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px;
}
a:link {
  text-decoration: none;
}
a:hover {
  background-color: red;
  text-decoration: none;
}
